:root {
    --font-family: 'Roboto', sans-serif;
    --background-light: #f5f5f5;
    --background-dark: #1e1e1e;
    --text-light: #333;
    --text-dark: #f5f5f5;
    --sidebar-bg-light: #f5f5f5;
    --sidebar-bg-dark: #171717;
    --button-bg: #007bff;
    --button-bg-hover: #0056b3;
    --tooltip-bg: black;
    --conversation-bg: #3a3b3b;
    --conversation-hover-bg: #242020;
    --message-user-bg: #f0f0f0;
    --message-bot-bg: #e0e0ff;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-light);
}

.light-mode {
    background-color: var(--background-light);
    color: var(--text-light);
}

.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: var(--sidebar-bg-dark);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: width 0.3s;
}

.light-mode .sidebar {
    background-color: var(--sidebar-bg-light);
}

.sidebar.collapsed {
    width: 50px;
}

.tooltip {
    position: absolute;
    top: 0;
    right: -20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--tooltip-bg);
    color: var(--text-dark);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-bg) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.sidebar-content {
    padding-top: 20px;
    transition: opacity 0.3s;
}

.sidebar.collapsed .sidebar-content {
    opacity: 0;
    pointer-events: none;
}

.conversation-list {
    padding: 0 20px;
}

.conversation {
    margin-bottom: 10px;
}

.conversation-text {
    font-weight: bold;
    color: var(--text-dark);
}

.conversation-content {
    color: #ddd;
}

#new-conversation-btn {
    background-color: var(--conversation-bg);
    color: var(--text-dark);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#new-conversation-btn:hover {
    background-color: var(--conversation-hover-bg);
}

.chat-container {
    width: 70%;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
}

.sidebar.collapsed + .chat-container {
    width: calc(100% - 50px);
    margin-left: 50px;
}

.chat-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.chat-header {
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    height: 60px;
    background-color: var(--sidebar-bg-dark);
    color: var(--text-dark);
}

.light-mode .chat-header {
    background-color: var(--sidebar-bg-light);
    color: var(--text-light);
}

.mode-toggle {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #484849;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: var(--background-light);
}

.light-mode .chat-box {
    background-color: var(--background-light);
}

.dark-mode .chat-box {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.input-container {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.light-mode input[type="text"] {
    color: var(--text-light);
    background-color: #f9f9f9;
}

.dark-mode input[type="text"] {
    color: var(--text-dark);
    background-color: #1d1c1c;
}

button {
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--button-bg);
    color: var(--text-dark);
    transition: background-color 0.3s;
    border-radius: 0 5px 5px 0;
}

button:hover {
    background-color: var(--button-bg-hover);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.user-message {
    text-align: right;
    margin: 10px 0;
}

.bot-message {
    text-align: left;
    margin: 10px 0;
}

.user-message .message-content {
    display: inline-block;
    background-color: var(--message-user-bg);
    color: var(--text-light);
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    text-align: left;
}

.bot-message .message-content {
    display: inline-block;
    background-color: var(--message-bot-bg);
    color: var(--text-light);
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    text-align: left;
}

.voice-button {
    background-color: var(--button-bg);
    color: var(--text-dark);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.voice-button:hover {
    background-color: var(--button-bg-hover);
}
